<!DOCTYPE html>
<html>
<head>
  <%# TODO: put Ale Nomad img in to title tag for a nice little touch %>
  <title>Ale Nomad App</title>
  <%= csrf_meta_tags %>

  <%= stylesheet_link_tag    'application', media: 'all'%>
  <%= javascript_include_tag 'application'%>


  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <!-- Stylesheets go here. -->

    <script type="text/javascript" src="https://cdn.polyfill.io/v2/polyfill.min.js?features=fetch"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <script src="http://localhost:3808/webpack-dev-server.js"></script>

</head>
<body>
  <nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse" aria-expanded="false">
          <span class="sr-only"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/">Ale Nomad</a>
      </div>
      <div class="collapse navbar-collapse" id="navbar-collapse">
        <ul class="nav navbar-nav">
          <li><a href="/find_beer">Find Beers<span class="sr-only"></span></a></li>
          <li><a href="/find_brew">Find Breweries<span class="sr-only"></span></a></li>
        </ul>
        <ul class="nav navbar-nav pull-right">
          <button class="btn btn-primary logInButton" type="submit">Log In</button>
        </ul>
      </div>
    </div>
  </nav>
  <% unless current_page?('/find_beer') || current_page?('/find_brew') %>
  <div class="container-fluid">
    <div class="row">
        <div class="col-sm-12">
          <div id="featuredPhotos" class="carousel slide" data-ride="carousel">
            <!-- Indicators -->
            <ol class="carousel-indicators">
              <li data-target="#featuredPhotos" data-slide-to="0" class="active"></li>
              <li data-target="#featuredPhotos" data-slide-to="1"></li>
            </ol>
            <!-- Wrapper for slides -->
            <div class="carousel-inner" role="listbox">
              <div class="item active">
                <a href="/find_beer">
                  <img src="img/beer.jpg"class="img-responsive" width="100%" alt="">
                </a>
              </div>
              <div class="item">
                <a href="/find_beer">
                  <img src="img/brewery.jpeg" width="100%" alt="">
                </a>
              </div>
            </div>
          </div>
        </div>
    </div>
  </div>
  <div class="container-fluid">
    <div class="row">
      <div class="col-xs-6">
        <a class="btn btn-primary" href="/find_beer" role="button">Beers</a>
      </div>
      <div class="col-xs-6">
        <a class="btn btn-primary" href="/find_brew" role="button">Breweries</a>
      </div>
    </div>
  </div>
  <% end %>

  <!-- Content goes here. -->
  <div id="aleNomad">

  </div>
  <!-- Scripts go here. -->
  <footer class="footerMargin">
    <nav class="navbar navbar-inverse navbar-fixed-bottom">
      <div class="container-fluid">
        <div class="row">
          <div class="col-xs-12">
            <ul class="nav navbar-nav">
              <li><a href="about.html">Creators</a></li>
              <li><a href="beers.html">Find Beers</a></li>
              <li><a href="breweries.html">Find Breweries</a></li>
              <p class="navbar-text">Est. November 2016</p>
            </ul>
          </div>
        </div>
      </div>
    </nav>
  </footer>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <%= javascript_include_tag *webpack_asset_paths("application") %>
</body>


</html>
