<!DOCTYPE html>
<html>
<head>
  <%# TODO: put Ale Nomad img in to title tag for a nice little touch %>
  <title>Ale Nomad App</title>
  <%= csrf_meta_tags %>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <!-- Stylesheets go here. -->

    <script type="text/javascript" src="https://cdn.polyfill.io/v2/polyfill.min.js?features=fetch"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <script src="http://localhost:3808/webpack-dev-server.js"></script>
    <%= javascript_include_tag 'application'%>

    <link href="https://fonts.googleapis.com/css?family=Tillana" rel="stylesheet">
    <%= stylesheet_link_tag    'application', media: 'all'%>
</head>
<body>
    <header>
      <div class="container">
        <div class="row">
          <div class="col-sm-2">
              <img src="/img/logoTwo.png" alt="Ale Nomad Logo">
          </div>
          <div class="col-sm-6 col-xs-9">
              <nav>
                <ul>
                  <li><a href="/">Home</a></li>
                  <li><a href="/find_beer">Find Beers</a></li>
                  <li><a href="/find_brew">Find Breweries</a></li>
                  <!-- <li><a href="#">Profile</a></li> -->
                </ul>
              </nav>
          </div>
          <div class="col-sm-4 col-xs-3 topRowButtons">
            <button class="btn btn-default signInButton pull-right" type="submit">Sign In</button>
          </div>
        </div>
      </div>
    </header>
  <!-- <nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse" aria-expanded="false">
          <span class="sr-only"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/">Ale Nomad</a>
      </div>
      <div class="collapse navbar-collapse" id="navbar-collapse">
        <ul class="nav navbar-nav">
          <li><a href="/find_beer">Find Beers<span class="sr-only"></span></a></li>
          <li><a href="/find_brew">Find Breweries<span class="sr-only"></span></a></li>
        </ul>
        <ul class="nav navbar-nav pull-right">
          <button class="btn btn-primary logInButton" type="submit">Log In</button>
        </ul>
      </div>
    </div>
  </nav> -->
  <% unless current_page?('/find_beer') || current_page?('/find_brew') %>
  <div class="container-fluid headerImage testMargin">
    <div class="row headerRow">
      <div class="col-sm-6">
      </div>
      <div class="col-sm-6 headerRightColumn">
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12 text-center headerTitle">
      </div>
    </div>
  </div>
  <div class="container headerContainer">
    <div class="row">
      <div class="col-sm-12">
      <p class="woahRadical">Ale Nomad is where socialites, casual drinkers, and connoisseurs come to discover beer and breweries. Stuck in the mud ordering the same Stout? Let Ale Nomad recommend a new brew. Not educated in beer styles like some of your friends? Choose from hundreds of beers to nail down the next best taste that all your friends will thank you for. Even find a new hot spot to drink at. Wherever life takes you let Ale Nomad guide you to the beer. </p>
      </div>
    </div>
  </div>
  <hr>
  <div class="container">
    <div class="row featuredCats">
      <div class="col-xs-6 text-center">
        Beer
      </div>
      <div class="col-xs-6 text-center">
        Brewery
      </div>
    </div>
    <div class="row">
      <div class="col-xs-6">
        This is going to be a paragraph about what beer search can do for our users. Want to search beers by style. Click getting started. Want to search for a beer with a specific ABV or IBU. Click to get started.
      </div>
      <div class="col-xs-6">
        This is going to be a paragraph about what brewery search can do for our users. Want to search beers by style. Click getting started. Want to search for a beer with a specific ABV or IBU. Click to get started.
      </div>
    </div>
    <div class="row">
      <div class="col-xs-6 text-center">
        <button class="btn btn-default" type="submit">Find A Beer!</button>
      </div>
      <div class="col-xs-6 text-center">
        <button class="btn btn-default" type="submit">Find A Brewery!</button>
      </div>
    </div>
  </div>
  <hr>
  <% end %>
  <!-- Content goes here. -->
  <div id="aleNomad">

  </div>
  <!-- Scripts go here. -->
  <div class="container">
    <div class="row">
      <div class="footer">
        <div class="col-sm-12 text-center">
          <strong>Meet the Developers</strong>
            <p><a href="#">Brian McMillan</a></p>
            <p><a href="#">Jeff Bumgardner</a></p>
            <p><a href="#">Keith Smith</a></p>
        </div>
      </div>
    </div>
  </div>
  <!-- <footer class="footerMargin">
    <nav class="navbar navbar-inverse navbar-fixed-bottom">
      <div class="container-fluid">
        <div class="row">
          <div class="col-xs-12">
            <ul class="nav navbar-nav">
              <li><a href="about.html">Creators</a></li>
              <li><a href="beers.html">Find Beers</a></li>
              <li><a href="breweries.html">Find Breweries</a></li>
              <p class="navbar-text">Est. November 2016</p>
            </ul>
          </div>
        </div>
      </div>
    </nav>
  </footer> -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <%= javascript_include_tag *webpack_asset_paths("application") %>
</body>


</html>
