/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 * {
    box-sizing: border-box;
}
img {
    width: 100%;
}

/*Margins*/
.logInButton {
  margin-top: 8px;
}
.mainMargin {
  margin-top: 51px;
  margin-bottom: 50px;
}
.footerMargin {
  margin-top: 50px;
}
.no_margin {
  margin-bottom: -20px;
}
.no_padding {
  padding-left: 0;
  padding-right: 0;
}



/*Carousel Text Sizing*/
.carousel-content-beer {
  font-size: 10vw;
  position: absolute;
  bottom: 27%;
  left: 37%;
  z-index: 20;
  color: white;
  text-shadow: 0 1px 2px rgba(0,0,0,.6);
}
.carousel-content-breweries {
  font-size: 10vw;
  position: absolute;
  bottom: 27%;
  left: 27%;
  z-index: 20;
  color: white;
  text-shadow: 0 1px 2px rgba(0,0,0,.6);
}
.carousel-content-about {
  font-size: 10vw;
  position: absolute;
  bottom: 27%;
  left: 36%;
  z-index: 20;
  color: white;
  text-shadow: 0 1px 2px rgba(0,0,0,.6);
}
.random-features {
  /*border: 1px solid red;*/
  font-size: 3vw;
  position: absolute;
  bottom: 40%;
  left: 9%;
  z-index: 20;
  color: white;
  text-shadow: 0 1px 2px rgba(0,0,0,.6);
}
.all-features {
  /*border: 1px solid red;*/
  font-size: 1.5vw;
  position: absolute;
  bottom: 40%;
  left: 9%;
  z-index: 20;
  color: white;
  text-shadow: 0 1px 2px rgba(0,0,0,.6);
}

/*Featured Beers and Breweries Picture Sizing*/
.featCat {
    width: 20vw;
    height: 20vw;
}
.featBeer {
    width: 20vw;
    height: 20vw;
}

.zindex {
  z-index: 1;
}



/*Mission CSS*/
.card {
  background: white;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
  height: 280px;
  border-radius: 2px;
  margin-bottom: 50px;
}
.wordWrap {
  word-wrap: break-word;
}


/*Card CSS*/
.ulStyle {

}
.liStyle {
  margin: 0 1%;
  float: left;
  position: relative;
  display: block;
  text-align: center;
}
.cardStyle {
  position: relative;
  border-radius: 5%;
  width: 98%;
  height: auto;
  overflow: hidden;
}
.cardImage {
  width: 100%;
  height: auto;
}
