<!DOCTYPE html>
<html>
    <head>
        <meta content='text/html; charset=UTF-8' http-equiv='Content-Type'/>
    </head>
    <body>
        <h3>Thank you for joining Ale Nomad,<%= @user.name %>!</h3>
        <br/>
        <p>
          Ale Nomad is where socialites, casual drinkers and connoisseurs come to discover craft beer and breweries. Choose from hundreds of locally crafted beers to discover the perfect brew for the moment.</p>
        <p>
            Wherever life takes you, let <a href="https://ale-nomad.herokuapp.com/">Ale Nomad</a>  guide you to the best beer!
        </p>
        <br/>
        <table cellspacing="0" cellpadding="0" align="center">
            <tr>
                <td align="center" width="300" height="40" bgcolor="#000091" style="-webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px; color: #ffffff; display: block;">
                    <a href="https://ale-nomad.herokuapp.com/" style="font-size:16px; font-weight: bold; font-family: Helvetica, Arial, sans-serif; text-decoration: none; line-height:40px; width:100%; display:inline-block">
                        <span style="color: #FF7F00">
                            <h4>Go to Ale Nomad!</h4>
                        </span>
                    </a>
                </td>
            </tr>
        </table>
        <br/>
        <p>Now sign in to Ale Nomad and discover awesome craft beers and breweries near you!</p>
        <br />
        <p>Thank you,</p>
        <p>Jeff, Brian, Keith</p>
        <p><a href="https://ale-nomad.herokuapp.com/">Ale Nomad</a> | Indianapolis | 2016</p>
    </body>
</html>
