/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

/*Mobile Version Styling Start*/
* {
  box-sizing: border-box;
}
body {
  /*background-color: #eea45c;*/
  background-image: url('/img/cheap_diagonal_fabric.png');
  font-family: 'Tillana', cursive;
}
.navBackground {
  background-color: #644536;
  border: none;
  color: #eea45c;
  width: 100%;
}
.navBackground img {
  padding-top: 10px;
  padding-bottom: 15px;
}
.hamButton {
  border: none;
  background-color: #eea45c;
}
.hamButton:hover {
  border: 1px solid #eea45c;
  background-color: #644536;
}
.hamburgerClick {
  background-color: #eea45c;
  border: none;
}
.hamburgerClick li a {
  color: #644536;
}
.mobileSignInBorder {
  border-bottom: none;
}
.mobileSignIn button {
  background-color: #eea45c;
  color: #644536;
  border: 2px solid #644536;
}
.mobileSignIn button:hover {
  background-color: #644536;
  color: #eea45c;
  border: 2px solid #644536;
}
.mobileButtonSize {
  font-size: 50px;
  margin-bottom: 50px;
}
/*Styling for HomePage Buttons*/
.mobileFeaturedCats a {
  color: #644536;
  background-color: #eea45c;
  border: 5px solid #644536;
  box-shadow: 10px 10px 50px black;
}
.mobileFeaturedCats a:hover {
  color: #eea45c;
  background-color: #644536;
  box-shadow: 10px 10px 50px black;
  border: 8px solid #644536;
}
/*Styling for the Filter feature before cards appear*/
.filterSearchHeader {
    color: #644536;
    margin-top: 40px;
    font-size: 35px;
}
.filterSearchInput button {
  background-color: #DC8A3A;
  color: #644536;
}
.filterSearchInput button:hover {
  background-color: #644536;
  color: #DC8A3A;
}
.filterSelectors {
  color: #DC8A3A;
  font-size: 30px;
}
.filterButtonSpace {
  margin-top: 50px;
}
.filterButton {
  width: 200px;
}
/*Styling for the find_beer and find_brewery page cards that will appear after filtering*/
.cardWrapFilter {
  background-color: white;
  margin: 10px;
  box-shadow: 4px 6px 20px grey;
  border-radius: 3%;
  height: 420px;
  overflow: hidden;
  margin-bottom: 20px;
  text-align: center;
  /*overflow-wrap: break-word;*/
}
.cardWrapFilterLg {
  background-color: white;
  margin: 10px;
  box-shadow: 4px 6px 20px grey;
  border-radius: 3%;
  height: auto;
  overflow: hidden;
  margin-bottom: 20px;
  text-align: center;
}
.cardWrapBrewFilter {
  background-color: white;
  margin: 10px;
  box-shadow: 4px 6px 20px grey;
  border-radius: 3%;
  height: 300px;
  overflow: hidden;
  margin-bottom: 20px;
  text-align: center;
}
.cardWrapFilter img {
  width: 100%;
  max-width: 230px;
}
.cardWrapBrewFilter img {
  width: 100%;
  max-width: 230px;
}
.cardWrapFilter p {
  color: #DC8A3A;
  font-size: 18px;
}
.cardWrapFilterLg p {
  color: #DC8A3A;
  font-size: 18px;
}
.cardWrapBrewFilter p {
  color: #DC8A3A;
  font-size: 18px;
}
.favBeer button {
  font-size: 25px;
  border: none;
  background-color: #DC8A3A;
  color: #644536;
}
.favBeer button:hover {
  border: none;
  background-color: #644536;
  color: #DC8A3A;
}

/*.mobileFooter {
  position: absolute;
  bottom: 0;
  background-color: #644536;
  height: 60px;
  width: 100%;
}*/
/*Mobile version styling end*/




/*Beginning of SM screen size styling*/
@media screen and (min-width: 768px) {
  * {
    box-sizing: border-box;
  }
  body {
    background-image: url("/img/cheap_diagonal_fabric.png");
    padding-top: 0px;
    padding-bottom: 50px;
    font-family: 'Tillana', cursive;
  }
  li a {
    color: #DC8A3A;
  }
  li a:hover {
    text-decoration: none;
    color: white;
  }
  header {
    width: 100%;
  }
  header img {
    float: left;
    margin-top: 25px;
    margin-left: 10px;
  }
  nav {
    float: left;
  }
  nav ul {
    margin-top: 57px;
  }
  nav ul li {
    display: inline-block;
    margin-left: 20px;
  }
  nav ul li a {
    font-size: 25px;
  }
  .desktopBkg {
    background-color: #644536;
    padding-bottom: 30px;
  }
  .nameLogo {
    font-size: 75px;
    margin-top: 54px;
  }
  /*Filter Styling Start*/
  .filterSearchHeader {
      color: #644536;
      margin-top: 40px;
      font-size: 25px;
  }
  .filterSearchInput button {
    background-color: #DC8A3A;
    color: #644536;
  }
  .filterSearchInput button:hover {
    background-color: #644536;
    color: #DC8A3A;
  }
  .filterSelectors {
    color: #DC8A3A;
    font-size: 25px;
  }
  .filterButtonSpace {
    margin-top: 50px;
  }
  /*Filter Styling End*/
  .topRowButtons button {
    float: left;
    font-size: 20px;
    margin-top: 54px;
    background-color: #644536;
    color: #DC8A3A;
    border: 2px solid #DC8A3A;
  }
  .topRowButtons button:hover {
    background-image: url();
    background-color: #DC8A3A;
    color: white;
    border: 2px solid #DC8A3A;
  }
  .topRowButtons a {
    color: #DC8A3A;
  }
  .topRowButtons a:hover {
    color: #644536;
    text-decoration: none;
  }
  /*Styling for the HomePage full width image below the header*/
  .homePageImage {
    height: 50vh;
    background-image: url('/img/betterBanner.jpg');
    background-size: cover;
    background-position: center;
    box-shadow: 4px 10px 50px grey;
  }
  .homePageImage h1 {
    font-size: 5vw;
    margin: 180px;
    color: white;
  }
  /*Styling for the text box below the HomePage full width image*/
  .woahRadical {
    border-left: 5px solid #DC8A3A;
    padding-left: 15px;
    font-size: 3.7vh;
    font-weight: 500;
    margin: 80px;
    color: #644536;
  }
  /*Styling for the FindBeers and FindBreweries cards on the HomePage*/
  .featuredCatMargin {
    margin-top: 80px;
    margin-bottom: 80px;
  }
  /*Featured Beer/Brewery Search */
  .featuredCats {
    background-color: #eea45c;
    color: #644536;
    height: 37vh;
    box-shadow: 4px 6px 20px grey;
    border-radius: 15%;
    display: flex;
    flex-direction: column;
  }
  /*Featured Beer/Brewery Search when you hover over it */
  .featuredCats a {
    font-size: 15px;
    color: #eea45c;
    background-color: #644536;
    border: 2px solid #eea45c;
  }
  /*Featured Beer/Brewery Search when you hover over it */
  .featuredCats:hover {
    box-shadow: 20px 20px 20px grey;
    background-color: #644536;
    color: #eea45c;
  }
  .featuredCats:hover a {
    color: #eea45c;
    background-color: #644536;
    border: 2px solid #eea45c;
  }
  .featuredCats a:hover {
    color: #644536;
    background-color: #eea45c;
    border: 2px solid #644536;
  }
  .featuredCatTitles {
    margin-top: 10px;
    margin-bottom: 20px;
    font-size: 30px;
  }
  .featuredCatDescription {
    margin-bottom: 50px;
    font-size: 18px;
  }
  /*Styling for the find_beer and find_brewery page cards that will appear after filtering*/
  .cardWrap {
    background-color: white;
    box-shadow: 4px 6px 20px grey;
    /*border-radius: 5%;*/
  }
  .cardWrap img {
    width: 100%;
  }
  .filterButton {
    width: 400px;
  }
  .footer {
    background-color: #644536;
    padding-top: 25px;
    height: 100px;
    width: 100%;
    bottom: 0;
    position: fixed;
  }
  .footer a {
    font-size: 18px;
    color: #DC8A3A;
  }
  .footer a:hover {
    text-decoration: none;
    color: white;
  }
}
/*SM Screen Size Styling End*/

/*MD Screen Size Styling Start*/
@media screen and (min-width: 992px) {
  .featuredCats {
    background-color: #eea45c;
    color: #644536;
    height: 34vh;
    box-shadow: 4px 6px 20px grey;
    border-radius: 15%;
    display: flex;
    flex-direction: column;;
  }
}
/*MD Screen Size Styling End*/

/*LG Screen Size Styling Start*/
@media screen and (min-width: 1200px) {
  .featuredCats {
    background-color: #eea45c;
    color: #644536;
    height: 31.5vh;
    box-shadow: 4px 6px 20px grey;
    border-radius: 15%;
    display: flex;
    flex-direction: column;;
  }
}
/*LG Screen Size Styling End*/
